/ category icons toolbar
#category-icons-toolbar.row.clearfix
  / icon 1
  .icon-wrapper
    .icon-img-wrap
      %a{:href => "#"}
        = image_tag "category_images/education.png"
      %p.img-caption-link
        %a{:href => "#"} Education
    / /.icon-img-wrap
  / /.icon-wrapper
  / icon 2
  .icon-wrapper
    .icon-img-wrap
      %a{:href => "#"}
        = image_tag "category_images/homehelp.png"
      %p.img-caption-link
        %a{:href => "#"} Home help
    / /.icon-img-wrap
  / /.icon-wrapper
  / icon 3
  .icon-wrapper
    .icon-img-wrap
      %a{:href => "#"}
        = image_tag "category_images/field-project.png"
      %p.img-caption-link
        %a{:href => "#"} Field project
    / /.icon-img-wrap
  / /.icon-wrapper
  / icon 4
  .icon-wrapper
    .icon-img-wrap
      %a{:href => "#"}
        = image_tag "category_images/handyman.png"
      %p.img-caption-link
        %a{:href => "#"} Handyman
    / /.icon-img-wrap
  / /.icon-wrapper
  / icon 5
  .icon-wrapper
    .icon-img-wrap
      %a{:href => "#"}
        = image_tag "category_images/business.png"
      %p.img-caption-link
        %a{:href => "#"} Business
    / /.icon-img-wrap
  / /.icon-wrapper
  / icon 6
  .icon-wrapper
    .icon-img-wrap
      %a{:href => "#"}
        = image_tag "category_images/professional.png"
      %p.img-caption-link
        %a{:href => "#"} Professional
    / /.icon-img-wrap
  / /.icon-wrapper
  / icon 7
  .icon-wrapper
    .icon-img-wrap
      %a{:href => "#"}
        = image_tag "category_images/entertainment.png"
      %p.img-caption-link
        %a{:href => "#"} Entertainment
    / /.icon-img-wrap
  / /.icon-wrapper
  / icon 8
  .icon-wrapper
    .icon-img-wrap
      %a{:href => "#"}
        = image_tag "category_images/construction.png"
      %p.img-caption-link
        %a{:href => "#"} Construction
    / /.icon-img-wrap
  / /.icon-wrapper
  / icon 9
  .icon-wrapper
    .icon-img-wrap
      %a{:href => "#"}
        = image_tag "category_images/mechanic.png"
      %p.img-caption-link
        %a{:href => "#"} Mechanic
    / /.icon-img-wrap
  / /.icon-wrapper
/ #category-icons-toolbar
/ split content begins
